/*HEADER*/

header {
	padding-top: 20px;
	height: 180px;
	background-color: ;
}

#capocchia {
}

#sottotitolo {
	font-family: garamond, serif;
}

main {
	background-color: ;
}

footer {
	height: 150px;
	background-color: ;
}

.btn_link {
	border: 2px solid black;
	background-color: white;
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	
  }

.btn_link :hover {	
	background-color: ;
	color: white;
}

.col-md-2 {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: 5px solid gray;
	
}

.breadcrumbs {
	padding-left: 5px;
}

h1 {
	color: black;
	font-family: 'Bebas Neue', cursive;
}

h2 {
	font-family: garamond, serif;
	font-size: 15px;
}

h5 {
	
	color: black;
	background-color: ;
	text-align: center;
}

img {
	height: 100px;
	width: 200px;
	object-fit: cover;

}

nav {
	float: right;
}

.card {
	padding: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#card-body {
	background-color: white;
}

#card-title {
	color: black;
}

#card-text {
	color: black;
}

.card-text_side {
	font-size: 15px;
}

#osmoc {
	background-color: antiquewhite;
}

#servizi {
	background-color: antiquewhite;
}



#quote {
	font-size: 15px;
	font-family: Georgia, serif;
	color: black;

}

p {
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
}


.current {
	color: red;
}




/* carousel */
.carousel-caption {background-color: rgba(26, 26, 26, .7); left: 0; right: 0; width: 100%;}
.carousel-caption > h1 {font-family: 'Eagle Lake', cursive; font-size: 2em;}
.carousel-caption > h2 {font-size: 1.5em;}
.carousel-control-prev, .carousel-control-next {z-index: 10 !important;}


/* carousel item */
.carousel-specific-item {background-color: rgba(26, 26, 26, .3);}
.carousel-specific-item img {background-color: #3A515F; height: 500px; width: auto !important;}

.carousel-item {
	position:relative;
	width: 50%; 
}

#img-evt {
	width: 100%;
  	height: auto;
	filter: blur(4px);	
}


.carousel-item .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}








/* carousel media query */
@media screen and (max-width: 769px) {
    .carousel-item > img {height: auto;}

.card-dx .card-body {
	height: 100px;
}
	
.card {
	padding: 10px;
	padding-right: 20px;
}

#copy {
	padding-top: 90px;
	text-align: right;
}

